root { 
    display: block;
}
.leftnav{
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	position: absolute;

	text-align: right;
	
	width: 1000px;
	height: 20px;
	
	top: 1108px;
	left: 0;
}
.leftnav a{
	margin: 0px 10px 0px 10px;
	
	font-family: "Droid Sans", sans-serif;
	font-size: 20px;
	text-align: right;
	text-transform: uppercase;
	color: #666;
}
