@charset "utf-8";
@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: url('styles/fonts/baumans-regular.woff') format('woff');
}
.leftnav{
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: top left;
	-o-transform: rotate(-90deg);
	-o-transform-origin: top left;
	transform: rotate(-90deg);
	transform-origin: top left;
	position: absolute;

	text-align: right;
	
	width: 400px;
	height: 20px;
	
	top: 508px;
	left: 0;
}
.leftnav a{
	margin: 0px 10px 0px 10px;
	
	font-family: "Droid Sans", sans-serif;
	font-size: 20px;
	text-align: right;
	text-transform: uppercase;
	color: #666;
}

.element-normal{
	margin: 10px 20px 0px 20px;
	padding: 10px 10px 10px 10px;

	border-left: solid 5px #F72;
	border-right: solid 5px #F72;
	cursor: pointer;

	font-size: 16px;
}
.element-normal:first-child{
	margin-top: 0px;
}
.element-normal:hover{
	background-color: #EFEFEF;
}

.shadow{
	-moz-box-shadow: 0px 5px 30px -10px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 5px 30px -10px rgba(0,0,0,1);
	box-shadow: 0px 5px 30px -10px rgba(0,0,0,1);
}
.shadow1{
	-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5), inset 0px 0px 100px -30px rgba(0,0,0,1);
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5), inset 0px 0px 100px -30px rgba(0,0,0,1);
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}
.hidden{
	display: none;
}
.show{
	display: block;
}
.button{
	width:50px;
	height:50px;
	
	box-shadow: inset 10px 0px 10px -10px rgba(60, 60, 60, 1), 0px 0px 10px rgba(60, 60, 60, 0.2);
	
	position: absolute;
	right: 0;
}
