<div class="title">Le Project</div>
<div class="box project-box">
	<img src="styles/icons/%{#icon_file}%"/>
	<table>
		<colgroup>
			<col class="head-col"/>
			<col class="content-col"/>
			<col class="head-col"/>
			<col class="content-col"/>
		</colgroup>
		<tbody>
			<tr><th>Author:</th><td>Lorze</td><th>State:</th><td>Beta</td></tr>
			<tr><th>Type:</th><td>Programm</td><th>Modified:</th><td>25.01.2012</td></tr>
			<tr><th>Language:</th><td>German, English</td><th>Licence:</th><td>Open source</td></tr>
			<tr><th>Systems:</th><td>Windows 7</td><td></td><td></td></tr>
			<tr><th>Written in:</th><td>C#,C++</td><td></td><td></td></tr>
			<tr><th>Category:</th><td>Music</td><td></td><td></td></tr>
			<tr><th>Raping:</th><td><span>&#9733; &#9733; &#9733; &#9733; &#9733;</span></td><td></td><td></td></tr>
		</tbody>
	</table>
	<div style="clear:both"></div>
</div>
<div class="box text-box" id="box1">
	<div class="title subtitle">Description & Diashow</div>
	<div class="text">
		Hoodie blog fanny pack art party, viral lomo keytar yr tattooed brooklyn skateboard jean shorts trust fund. VHS beard before they sold out master cleanse fanny pack. High life organic gentrify, chambray dreamcatcher tattooed keytar 8-bit scenester lomo lo-fi banh mi hoodie +1. Farm-to-table cosby sweater cliche, food truck gluten-free mixtape jean shorts carles. Synth iphone letterpress fanny pack banh mi seitan. +1 jean shorts leggings quinoa letterpress vinyl. High life readymade butcher portland, keffiyeh food truck cliche.
	</div>
	<div class="slideshow" style="height:512px;" folder="projects">
		<div class="control left"></div>
		<div class="slidesContainer">
		</div>
		<div class="control right"></div>
	</div>
</div>
<div class="box files-box">
	<div class="head"><div class="text">some</div><image src="styles/images/path-separator.png"/><div class="text">random</div><image src="styles/images/path-separator.png"/><div class="text">hipster</div><image src="pictures/path-separator.png"/><div class="text">shit</div><image src="pictures/path-separator.png"/></div>
	<table>
		<colgroup>
			<col class="name-col"/>
			<col class="size-col"/>
			<col class="modified-col"/>
			<col class="type-col"/>
		</colgroup>
		<tbody>
			<tr><th><img src="styles/images/folder.png"/>some</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th><img src="styles/images/folder.png"/>random</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th><img src="styles/images/folder.png"/>hipster</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th><img src="styles/images/folder.png"/>folder</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th><img src="styles/images/folder.png"/>and</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th><img src="styles/images/folder.png"/>data</th><td></td><td>11.02.2010</td><td>Directory</td></tr>
			<tr><th>SHIT.txt</th><td>37`478 KB</td><td>11.02.2010</td><td>File</td></tr>
		</tbody>
	</table>
</div>
<div class="box comment-box">
	<div class="title subtitle">Comments</div>
	<div class="element-normal comment">
		Readymade photo booth messenger bag, sustainable 3 wolf moon mustache fap lomo fanny pack scenester gluten-free brunch seitan. Mixtape photo booth trust fund, fixie mustache portland cosby sweater pitchfork scenester freegan hoodie.
		<div class="footer">postet by <a>Lorze</a> at <a>10:00</a></div>
	</div>
	<div class="element-normal comment" style="margin-left: 60px;">
		fanny pack scenester gluten-free brunch seitan!!!!!!
		<div class="footer">postet by <a>Lorze</a> at <a>10:00</a></div>
	</div>
	<div class="element-normal comment">
		Echo park fanny pack four loko, PBR cliche portland lo-fi pitchfork craft beer shoreditch mlkshk dreamcatcher. Leggings hoodie salvia, seitan marfa keytar cardigan VHS four loko tattooed squid mlkshk mustache. Hoodie twee Austin high life jean shorts carles viral. Yr next level twee cred ethical, gentrify before they sold out vinyl mustache fap butcher four loko bicycle rights
		<div class="footer">postet by <a>Lorze</a> at <a>10:00</a></div>
	</div>
</div>
